In [131]:
import pandas as pd
import os


df = pd.read_csv('data_studentlist.csv', header='infer')
df.head(100)

                Name Gender  Age  Grade Absence Bloodtype  Height  Weight
0      Jared Diamond      M   23      3       Y         O   165.3    68.2
1     Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2       Brian Martin      M   24      4       N         B   175.0    80.1
3       David Hassel      M   23      3       N        AB   182.1    85.7
4    Clara Rodriquez      F   20      1       Y         A   168.0    49.5
5   Jennifer Lorentz      F   21      2       N         O   162.0    52.0
6        Susan Clark      F   22      1       N         O   155.2    45.3
7    Margareth Jones      F   23      1       N         A   176.9    55.0
8       John Bertsch      M   23      3       N         B   178.5    64.2
9     Jake Timmerman      M   22      2       N         B   176.1    61.3
10     Joshua Connor      M   24      4       Y         O   167.1    62.0
11      John Matsuda      M   22      2       N        AB   180.0    75.8
12      Eddy Johnson      M   21      1       N         A   162.2    55.3
13  Rebecah Anderson      F   23      3       N         O   176.1    53.1
14      Linda Carter      F   22      2       N         B   158.2    45.2
15    Richard Swayze      M   24      4       Y         B   168.6    70.2
16       Andrew King      M   21      1       N         A   169.2    62.2

# Ejercicio 1

In [8]:
#1
average_heigth = df[df['Gender'] == 'M']['Height'].mean()
print(average_heigth)

172.41000000000003

In [11]:
#2
average_heigth = df['Height'].mean()
print(average_age)

170.03529411764703

In [17]:
#3
average_weigth = df[df['Gender'] == 'M']['Weight'].mean()
print(average_weigth)

68.50000000000001

In [19]:
#4
average_weigth = df['Weight'].mean()
print(average_weigth)

61.06470588235294

In [21]:
#5
max_heigth = df[df['Gender'] == 'M']['Height'].max()
print(max_heigth)

182.1

In [133]:
#6
min_heigth = df['Height'].min()
print(min_heigth)

155.2

In [135]:
#7
min_heigth = df[(df['Gender'] == 'M') & (df['Height'] > 175)]['Weight'].min()
print(min_heigth)

61.3

In [137]:
#8
min_heigth = df[df['Height'] < 160]['Weight'].min()
print(min_heigth)

45.2

In [139]:
#9
average_notes = df[df['Absence'] == 'N']['Grade'].mean()
print(average_weigth)

61.06470588235294

In [141]:
#10
average_notes = df[df['Absence'] == 'Y']['Grade'].mean()
print(average_weigth)

61.06470588235294

In [75]:
#11
average_heigth = df[(df['Bloodtype'] == 'A' ) | (df['Bloodtype'] == 'AB' )]['Height'].mean()
print(average_heigth)

172.64285714285714

In [83]:
#12
average_heigth = df[(df['Gender'] == 'M') & ((df['Bloodtype'] == 'A' ) | (df['Bloodtype'] == 'AB' ))]['Height'].mean()
print(average_heigth)

173.375

In [89]:
average_age = df[(df["Absence"] == 'Y' ) & (df['Grade'] >=3 ) ]['Age'].mean()
print(average_age)

23.666666666666668

# Ejericicio 2

In [101]:
import pandas as pd
import numpy as np
import os


df = pd.read_csv('data_census.csv', header='infer')
print(df.shape)
df.head(10)

(281, 6)

,Province Code,City Code,Population,Households,Person's Household,Gender Ratio
0,109,1001,"10,078,850","4,197,478",2.40,0.97
1,109,1188,"155,695","72,882",2.14,0.98
2,109,1189,"126,817","59,614",2.13,1.00
3,109,1158,"235,186","108,138",2.17,0.94
4,109,1105,"298,145","126,915",2.35,0.99
5,109,1032,"362,197","158,769",2.28,0.97
6,109,1065,"362,604","160,110",2.26,1.01
7,109,1190,"417,976","177,077",2.36,1.00
8,109,1106,"464,176","192,670",2.41,0.96
9,109,1006,"333,523","141,325",2.36,0.97

In [109]:
#1
df[(df['Province Code'] ==115) | (df['Province Code'] ==116)].Population.apply(lambda x: int(x.replace(',', ''))).sum()

5970327

In [115]:
#2
df[df['Gender Ratio'] >1].Population.apply(lambda x: int(x.replace(',', ''))).mean()

419221.2076923077

In [119]:
#3
df[((df['Gender Ratio'] >1)) & (df['Person\'s Household'] <2)]

,Province Code,City Code,Population,Households,Person's Household,Gender Ratio
62,112,1155,"20,825","11,172",1.86,1.29
149,101,1240,"26,790","13,433",1.99,1.27
152,101,1017,"30,066","15,485",1.94,1.15
167,117,1033,"38,027","19,145",1.99,1.03
227,113,1120,"43,566","22,248",1.96,1.11
253,104,1163,"10,304","5,365",1.92,1.15

In [121]:
#4
df.sort_values(by = 'Households',ascending = True).head(10)

,Province Code,City Code,Population,Households,Person's Household,Gender Ratio
52,112,1001,"2,914,271","1,145,232",2.54,1.01
228,104,1001,"2,697,791","1,160,150",2.33,1.01
254,103,1001,"3,356,540","1,356,430",2.47,1.02
26,108,1001,"3,517,491","1,430,441",2.46,0.98
200,114,1179,"23,308","10,877",2.14,0.98
266,103,1010,"252,823","100,073",2.53,1.12
256,103,1201,"258,719","100,745",2.57,1.04
37,108,1042,"248,177","101,090",2.46,0.97
70,107,1064,"242,758","101,201",2.40,1.02
230,104,1226,"246,634","101,508",2.43,1.06

# Ejercicio 3

In [143]:
import pandas as pd
import numpy as np
import os


df = pd.read_csv('data_sales.csv', header='infer')
print(df.shape)
df.head(5)

(43, 5)

        Date   Region     Item  Unit Price  Units
0  04-Jul-14     East  Pen Set        4.99     62
1  12-Jul-14     East   Binder        1.99     29
2  21-Jul-14  Central  Pen Set       12.49     55
3  29-Jul-14     East   Binder       19.99     81
4  07-Aug-14  Central  Pen Set       23.95     42

In [149]:
#1
df['Amount'] = df['Unit Price'] * df['Units']
df.head(5)

        Date   Region     Item  Unit Price  Units   Amount
0  04-Jul-14     East  Pen Set        4.99     62   309.38
1  12-Jul-14     East   Binder        1.99     29    57.71
2  21-Jul-14  Central  Pen Set       12.49     55   686.95
3  29-Jul-14     East   Binder       19.99     81  1619.19
4  07-Aug-14  Central  Pen Set       23.95     42  1005.90

In [153]:
#2
average_unit_price = df.groupby('Region')['Unit Price'].mean()
print(average_unit_price)

Region
Central    18.018750
East        9.143846
West       53.658333
Name: Unit Price, dtype: float64