In [39]:
import pandas as pd
import os


df = pd.read_csv('data_studentlist.csv', header='infer')
df.head(100)

                Name Gender  Age  Grade Absence Bloodtype  Height  Weight
0      Jared Diamond      M   23      3       Y         O   165.3    68.2
1     Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2       Brian Martin      M   24      4       N         B   175.0    80.1
3       David Hassel      M   23      3       N        AB   182.1    85.7
4    Clara Rodriquez      F   20      1       Y         A   168.0    49.5
5   Jennifer Lorentz      F   21      2       N         O   162.0    52.0
6        Susan Clark      F   22      1       N         O   155.2    45.3
7    Margareth Jones      F   23      1       N         A   176.9    55.0
8       John Bertsch      M   23      3       N         B   178.5    64.2
9     Jake Timmerman      M   22      2       N         B   176.1    61.3
10     Joshua Connor      M   24      4       Y         O   167.1    62.0
11      John Matsuda      M   22      2       N        AB   180.0    75.8
12      Eddy Johnson      M   21      1       N         A   162.2    55.3
13  Rebecah Anderson      F   23      3       N         O   176.1    53.1
14      Linda Carter      F   22      2       N         B   158.2    45.2
15    Richard Swayze      M   24      4       Y         B   168.6    70.2
16       Andrew King      M   21      1       N         A   169.2    62.2

# Ejercicio 1

In [8]:
#1
average_heigth = df[df['Gender'] == 'M']['Height'].mean()
print(average_heigth)

172.41000000000003

In [11]:
#2
average_heigth = df['Height'].mean()
print(average_age)

170.03529411764703

In [17]:
#3
average_weigth = df[df['Gender'] == 'M']['Weight'].mean()
print(average_weigth)

68.50000000000001

In [19]:
#4
average_weigth = df['Weight'].mean()
print(average_weigth)

61.06470588235294

In [21]:
#5
max_heigth = df[df['Gender'] == 'M']['Height'].max()
print(max_heigth)

182.1

In [23]:
#6
min_heigth = df['Height'].max()
print(min_heigth)

182.1

In [35]:
#7
min_heigth = df[(df['Gender'] == 'M') & (df['Height'] > 175)]['Weight'].min()
print(min_heigth)

61.3

In [37]:
#8
min_heigth = df[df['Height'] < 160]['Weight'].min()
print(min_heigth)

45.2

In [45]:
#9
average_notes = df[df['Absence'] == 'N']['Grade'].mean()
print(average_weigth)

61.06470588235294

In [47]:
#10
average_notes = df[df['Absence'] == 'Y']['Grade'].mean()
print(average_weigth)

61.06470588235294

In [75]:
#11
average_heigth = df[(df['Bloodtype'] == 'A' ) | (df['Bloodtype'] == 'AB' )]['Height'].mean()
print(average_heigth)

172.64285714285714

In [83]:
#12
average_heigth = df[(df['Gender'] == 'M') & ((df['Bloodtype'] == 'A' ) | (df['Bloodtype'] == 'AB' ))]['Height'].mean()
print(average_heigth)

173.375

In [ ]:
average_age = df[df["Absence"] == 'Y' & df['Grade