In [25]:
import pandas as pd
import numpy as np

# Ejercicio 1

In [11]:
alumnos = ['Mario', 'Dario', 'Luis', 'Salvador', 'Dixie']
alumnos_series = pd.Series(alumnos)
print(alumnos_series)

0       Mario
1       Dario
2        Luis
3    Salvador
4       Dixie
dtype: object

In [13]:
calificaciones = [100, 80, 70, 60,50]
calificaciones_series = pd.Series(calificaciones)
print(calificaciones_series)

0    100
1     80
2     70
3     60
4     50
dtype: int64

# Ejercicio 2

In [19]:
ser1=pd.Series([0,1,2,3,4], index=[0,1,2,3,4])
ser2=pd.Series([0,1,2,3,4], index=[0,1,2,3,4])

print(ser1+ser2)

0    0
1    2
2    4
3    6
4    8
dtype: int64

In [35]:
numbers= np.linspace(1,10,30)
numbers_series = pd.Series(numbers)

print(numbers_series[numbers_series>5])

13     5.034483
14     5.344828
15     5.655172
16     5.965517
17     6.275862
18     6.586207
19     6.896552
20     7.206897
21     7.517241
22     7.827586
23     8.137931
24     8.448276
25     8.758621
26     9.068966
27     9.379310
28     9.689655
29    10.000000
dtype: float64

In [39]:
print(numbers_series.mean())
print(numbers_series.median())
print(numbers_series.std())

5.5
5.5
2.732092271636743

# Ejercicio 3

In [71]:
data = {
    'Nombre': ['Mario', 'Dario', 'Salvador', 'Dixie', 'Ramon'],
    'Examen 1': [20, 80, 78, 70, 95],
    'Examen 2': [60, 60, 84, 15, 89]
}

df_alumnos = pd.DataFrame(data)

df_alumnos['Promedio'] = df_alumnos[['Examen 1', 'Examen 2']].mean(axis=1)

print(df_alumnos)

     Nombre  Examen 1  Examen 2  Promedio
0     Mario        20        60      40.0
1     Dario        80        60      70.0
2  Salvador        78        84      81.0
3     Dixie        70        15      42.5
4     Ramon        95        89      92.0

# Ejercicio 4

In [74]:
df_alumnos['Promedio'] = df_alumnos['Promedio'].apply(lambda x: x*1.05)
print(df_alumnos)

     Nombre  Examen 1  Examen 2  Promedio
0     Mario        20        60    42.000
1     Dario        80        60    73.500
2  Salvador        78        84    85.050
3     Dixie        70        15    44.625
4     Ramon        95        89    96.600

In [76]:
def get_letter(cal):
    if cal <=100 and cal>75:
        return 'A'
    elif cal <=75 and cal >50:
        return 'B'
    elif cal <=50 and cal >25:
        return 'C'
    else:
        return 'D'

In [78]:
df_alumnos['Promedio'] = df_alumnos['Promedio'].apply(lambda x: get_letter(x))
print(df_alumnos)

     Nombre  Examen 1  Examen 2 Promedio
0     Mario        20        60        C
1     Dario        80        60        B
2  Salvador        78        84        A
3     Dixie        70        15        C
4     Ramon        95        89        A

# Ejemplo practico de uso de panas

# Ejercicio 5

In [120]:
iris_df=pd.read_csv('data_Iris.xls')
print(iris_df.head(5))
print(iris_df.describe())

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [128]:
setosa_df = iris_df.groupby('Species').get_group('setosa')

print(setosa_df)

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.1  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.1           1.5          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [144]:
virginica_df = iris_df.groupby('Species')[['Sepal.Length', 'Petal.Length']].get_group('virginica')

print(virginica_df)

     Sepal.Length  Petal.Length
100           6.3           6.0
101           5.8           5.1
102           7.1           5.9
103           6.3           5.6
104           6.5           5.8
105           7.6           6.6
106           4.9           4.5
107           7.3           6.3
108           6.7           5.8
109           7.2           6.1
110           6.5           5.1
111           6.4           5.3
112           6.8           5.5
113           5.7           5.0
114           5.8           5.1
115           6.4           5.3
116           6.5           5.5
117           7.7           6.7
118           7.7           6.9
119           6.0           5.0
120           6.9           5.7
121           5.6           4.9
122           7.7           6.7
123           6.3           4.9
124           6.7           5.7
125           7.2           6.0
126           6.2           4.8
127           6.1           4.9
128           6.4           5.6
129           7.2           5.8
130           7.4           6.1
131           7.9           6.4
132           6.4           5.6
133           6.3           5.1
134           6.1           5.6
135           7.7           6.1
136           6.3           5.6
137           6.4           5.5
138           6.0           4.8
139           6.9           5.4
140           6.7           5.6
141           6.9           5.1
142           5.8           5.1
143           6.8           5.9
144           6.7           5.7
145           6.7           5.2
146           6.3           5.0
147           6.5           5.2
148           6.2           5.4
149           5.9           5.1

# Ejercicio 8

In [154]:
result = iris_df.groupby('Species')[['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width']].agg(['mean'])

result

           Sepal.Length Sepal.Width Petal.Length Petal.Width
                   mean        mean         mean        mean
Species
setosa            5.006       3.418        1.464       0.244
versicolor        5.936       2.770        4.260       1.326
virginica         6.588       2.974        5.552       2.026

In [164]:
max_species = result['Petal.Width']['mean'].idxmax()

print(max_species)

virginica